/* hello world :0 */
/* colors: #461673 links/other cool stuff purple */
/* I HATE CSS WITH A PASSION 4/9/2024*/

body{
  background-color : black;
  background-image: url("../images/pattern.png");
  animation: BgMove 100s linear infinite;
}
@keyframes BgMove {
  from {background-position: bottom left;}
  to {background-position: top right;}
}


/* why is centering so hard :sob:. also if your reading this have a nice day (gl reading my terrible code lmaoo) */
.main {
  position: absolute;
  top: 90%;
  left: 50%;
  transform: translate(-50%, -50%);
  padding: 0px;
}

.mas {
  /* hiding the mastodon verficifation link! you should follow me :)*/
  display: none;
}

/* Fonts used (15/3/2024): Space mono https://fonts.google.com/specimen/Space+Mono?query=mono */
/* Secondery font (dot font) -> DotGothic16 (google fonts) */
.smr {
  font-family: "Space Mono", monospace;
  font-weight: 400;
  color: white;
  font-style: normal;
}

.dr {
  font-family: "DotGothic16", sans-serif;
  font-weight: 400;
  color: white;
  font-style: normal;
}

.smb {
  font-family: "Space Mono", monospace;
  font-weight: 700;
  color: white;
  font-style: normal;
}

.smb:any-link {
  font-family: "Space Mono", monospace;
  font-weight: 700;
  color: white;
  font-style: normal;
}

.smri {
  font-family: "Space Mono", monospace;
  font-weight: 400;
  color: white;
  font-style: italic;
}
.linkitalic:any-link {
  font-family: "Space Mono", monospace;
  font-weight: 400;
  color: #461673;
  font-style: italic;
}

.smbi {
  font-family: "Space Mono", monospace;
  font-weight: 700;
  font-style: italic;
  color: white;
}
/* 😭😭😭😭😭😭😭😭😭😭😭 */
