
@font-face {
    font-family: nonamegiven;
    src: url('../fonts/sansserif.ttf');
}

body, html {
    margin: 0px;
    padding: 0px;
    height: 100%;
    width: 100%;
    background: rgb(83, 83, 83); 
    background: linear-gradient(50deg, rgb(45, 45, 45) 0%, rgb(53, 52, 53) 100%);
    background-repeat: no-repeat;
}

footer {
    height: 218px;
    width: 100%;
    color: white;
    background-color: red;

    text-align: center;
    justify-content: center;
}

.blurb {
    display: inline; 
    vertical-align: middle; 
    margin-left: 10px; 
    font-weight: bold; 
    font-size: large;
}

.card-holder {
    display: flex;

    justify-content: center;
    width: 100%;
    height: auto;

    margin-top: 2%;

    padding-bottom: 5%;
}

.card {
    width: 75%;
    height: fit-content;
    position: relative;

    border-radius: 5px;
    background-color: rgb(40, 40, 40);
    box-shadow: 0 4px 8px 0 rgba(0,0,0,.2);
}

footer a {
    text-align: center;

    padding: 16px 14px;

    display: block;
    float:left;

    text-align: center;
}

#miiData {
    cursor: pointer;
}


li {
    font-size: medium;
    list-style: square;
    margin-top: 10px;
}

nav {
    font-family: nonamegiven;

    color: white;

    position: sticky;

    background: rgb(100, 94, 103);
    top: 0;

    display: flex;

    justify-content: space-around;

    box-shadow: 0 4px 8px 0 rgba(0,0,0,.2);

    z-index: 10;
}

nav a {
    text-rendering: auto;
    text-decoration: none;

    color:white;

    padding: 8px;
}

nav a:hover {
    transition: ease-in-out 0.1s;

    color: rgba(225, 225, 225, 0.2);
}

nav a:visited {
    color:white;
}

p {
    font-size:medium;
}

.genius {
    text-decoration: overline;
}

#dw {
    width: 45%;
    color: white;
}

#info {
    display: flex; 
    justify-content: center; 
    padding-bottom: 50px; 
    background: linear-gradient(50deg, rgb(68, 42, 107) 0%, rgba(43,35,50,1) 100%);
}

#description {
    width: 700px; 
    display: flex; 
    justify-content:space-around; 
    padding-top: 2%; 
    padding-bottom: 2%; 
    background: linear-gradient(50deg, rgb(43, 23, 75) 0%, rgba(43,35,50,1) 100%);
}

#paragraph {
    font-family: nonamegiven;
}

.scroll {
    position: relative;
    display: flex;
    width: 100%;
    overflow: hidden;

    -webkit-mask-image: linear-gradient(90deg, transparent, #fff, #fff, transparent);
}

.scroll div {
    white-space: nowrap;

    animation: scroll var(--t) linear infinite;
    animation-delay: calc(var(--t) * -1);
}

.scroll div:nth-child(2) {
    animation: scroll2 var(--t) linear infinite;
    animation-delay: calc(var(--t) / -2);
}

@keyframes scroll {
    0% {
        transform: translateX(100%);
    }

    100% {
        transform: translateX(-100%);
    }
}

@keyframes scroll2 {
    0% {
        transform: translateX(0);
    }

    100% {
        transform: translateX(-200%);
    }
}
.scroll div span {
    display: inline-block;
    margin: 10px;

    border-radius: 5px;

    background-color: gray;

    color: white;

    transition: 0.5s;

    width: 250px;
    text-align: center;

    padding: 5px;
}

.scroll div span a {
    color: white;
    text-decoration: none;
    -moz-text-decoration-style: none;
}

.scroll div span:hover {
    background: rgb(158, 158, 158);

    cursor: pointer;
}

@media only screen and (max-width: 675px) {

    #gif-wrapper {
        display: none;
    }

    #description {
        background-color: antiquewhite;

        display: flex;
        justify-content: center;
    }

    #dw {
        width: 80%;
        text-align: left;
    }

    #paragraph {
        display: block;
        width: 100%;
        text-align: left;
    }

    #dw h1 {
        text-align: center;
    }

    #info small-description {
        display: none;
    }

    .blurb {
        display: none;
    }

    .desc {
        text-align: center;
    }
}