body {
    background-image: url("https://lookatmii.neocities.org/pattern1.png");
    background-repeat: repeat;
    margin: 0;
    }
    
    a:link {
    text-decoration: none;
    }
    
    @font-face {
      font-family: cafe;
      src: url(CafeStd.ttf);
    }
    
    .thegame {
    text-align:center;
    margin: 70px;
    }
    
    .media {
    text-align: center;
    }
    
    .mario-run {
    margin-top: 40px;
    width: 150px;
    height: 250;
    }
    
    /*top navigation bar*/
    .top {
    z-index: 999;
    overflow: hidden;
    background-color: #1aa50e;
    position: fixed;
    top: 0;
    width: 100%;
    box-shadow: inset 0px 0px 5px black;
    }
    
    .topmargin {
    margin-bottom: 85px;
    
    }
    
    
    .top a {
    font-family: cafe;
    float: left;
    display: block;
    color: #f2f2f2;
    padding: 14px 16px;
    text-decoration: none;
    font-size: 17px;
    z-index: 1;
    font-weight: bold;
    box-shadow: inset 0px 0px 2px black;
    }
    
    .top a:hover {
    background-color: #ddd;
    color: black;
    box-shadow: inset 0px 0px 5px black;
    }
    /*top navigation bar*/
    
    .hometext {
    text-align: center;
    color: white;
    font-size: 35px;
    font-family: cafe;
    margin-top: -20px;
    }
    
    .hometextsmaller {
    font-family: cafe;
    text-align: center;
    margin: auto;
    color: white;
    font-size: 30px;
    max-width: 60vw;
    margin-top: -25px;
    margin-bottom: 20px;
    }
    
    .abouttext {
    color: white;
    text-align: center;
    margin: auto;
    margin-top: 70px;
    font-family: sans-serif;
    word-wrap: break-word;
    max-width: 70vw;
    }
    
    /*posts*/
    .mii {
    margin-top: 10px;
    margin-left: 18px;
    border: 1px solid #555;
    background-color: #a6a7a7;
    border-color: grey;
    border-radius: 15px;
    width: 70px;
    float: left;
    box-shadow: 0 0px 3px black;
    }
    
    .postbackground {
    margin: auto;
    max-height: 2000px;
    width: 500px;
    padding-bottom: 20px;
    background-color: #4a4b4a;
    border-radius: 20px;
    border: 2px solid;
    border-color: #2f2f2f;
    margin-bottom: 40px;
    box-shadow: inset 0px 0px 5px black;
    
    }
    
    .postusername {
    font-family: cafe;
    color: white;
    margin-left: 20px;
    margin-top: 20px;
    position: absolute;
    margin-top: -70px;
    margin-left: 100px;
    }
    
    .postmedia {
    max-width: 350px;
    max-height: 250px;
    display:block;
    margin: 0 auto;
    }
    
    .posttext {
    font-family: cafe;
    color: white;
    text-align: center;
    margin: 0 auto;
    word-wrap: break-word;
    max-width: 450px;
    padding: 15px;
    white-space: pre-wrap;
    }
    
    .postdate {
    font-size: 10px;
    font-family: sans-serif;
    color: white;
    position: absolute;
    margin-top: -45px;
    margin-left: 102px;
    word-wrap: break-word;
    }
    
    .fromcommunitytext {
    color: white;
    max-width: 480px;
    font-family: cafe;
    float: left;
    }
    
    .fromcommunitytextsmall {
    color: white;
    max-width: 480px;
    font-family: cafe;
    float: left;
    font-size: 12px;
    margin-right: 18px;
    margin-bottom: 18px;
    margin-top: 18px;
    margin-left: 0px;
    
    }
    
    .fromcommunityimage {
    color: white;
    float: left;
    width: 35px;
    height: 35px;
    margin-top: 10px;
    margin-left: 20px;
    margin-right: 10px;
    border-radius: 5px;
    box-shadow: 0 0px 3px black;
    }
    
    .communitysource {
    font-family: cafe;
    text-decoration: none;
    color: #00e4e6;
    font-size: 15px;
    text-align: center;
    margin-top: -3px;
    margin-bottom: -15px;
    }
    
    .communitysourcegone {
    font-family: cafe;
    text-decoration: none;
    color: #00a6a6;
    font-size: 15px;
    text-align: center;
    margin-top: -3px;
    margin-bottom: -15px;
    }
    
    .posttextlink {
    color: #00e4e6;
    text-decoration: none;
    }
    
    .postlinehorizontal {
    color: #808080
    }
    /*posts*/
    
    /*communities*/
    
    .communities {
    width: 80vw;
    left: 0px;
    background-color: #0a9bd5;
    background-image: url('checker.png');
    background-size: 5vh;
    border-radius: 10px;
    box-shadow: 0 0px 14px #0a9bd5;
    margin: auto;
    }
    
    .communitybutton {
    background-color: #4f3549;
    width: 320px;
    height: 100px;
    border-radius: 10px;
    margin-right: 20px;
    margin-top: 10px;
    margin-bottom: 10px;
    display: inline-block;
    box-shadow: inset 0px 0px 5px black;
    }
    
    .communityheader {
    font-family: cafe;
    color: white;
    word-wrap: break-word;
    padding: 10px;
    }
    
    .communityname {
    font-family: cafe;
    color: white;
    font-size: 15px;
    font-weight: 600;
    max-width: 220px;
    word-wrap: break-word;
    margin-bottom: auto;
    float: left;
    }
    
    .communitynamesmall {
    font-family: cafe;
    color: white;
    font-size: 12px;
    font-weight: 600;
    max-width: 220px;
    word-wrap: break-word;
    margin-bottom: auto;
    float: left;
    }
    
    .communityicon {
    width: 80px;
    height: 80px;
    margin: 10px;
    float: left;
    border-radius: 10px;
    box-shadow: 0 0px 5px black;
    }
    
    .platformtag {
    width: 70px;
    border-radius: 20px;
    float: left;
    margin-right: 100px;
    margin-top: 10px;
    box-shadow: 0px 1px 1px black;
    }
    /*communities*/
    
    /* changelog */
    
    .changelogtopimportant {
    color: orange;
    font-family: sans-serif;
    text-align: center;
    }
    
    .changelogtextgreataddition {
    color: orange;
    font-family: sans-serif;
    margin-left: 10px;
    }
    
    .changelogtextmassiveimportant {
    color: #b000b5;
    font-family: sans-serif;
    margin-left: 10px;;
    }
    
    .changelogtextbigimportant {
    color: blue;
    font-family: sans-serif;
    margin-left: 10px;;
    }
    
    .changelogtextnormal {
    color: #ffffff;
    font-family: sans-serif;
    margin-left: 10px;;
    }
    
    
    /* changelog */
    